.links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.active{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: rgb(44, 177, 213);
}

.navbar{
    background-color: rgba(0, 136, 255 , 0.594);
}